unstructured[pdf]
unstructured-client
python-dotenv
pytesseract
pdf2image
pillow
opencv-python
requests
langchain
chromadb
tiktoken
matplotlib
numpy
scikit-learn
torch
transformers
gensim
sentence-transformers

